table
{
    font-family: Georgia, Garamond, Palatino, Times, Arial;
    font-size: small;
    color: #333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table th
{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table td
{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
    text-align: center;
}
A
{
    text-decoration: none;
}
A:hover
{
    text-decoration: underline;
}
