[submodule "modules/iv"]
	path = external/iv
	url = https://github.com/neuronsimulator/iv.git
[submodule "external/coreneuron"]
	path = external/coreneuron
	url = https://github.com/BlueBrain/CoreNeuron.git
[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/coding-conventions"]
	path = external/coding-conventions
	url = https://github.com/BlueBrain/hpc-coding-conventions.git
[submodule "docs/tutorials"]
	path = docs/tutorials
	url = https://github.com/neuronsimulator/pythontutorial.git
[submodule "docs/rxd-tutorials"]
	path = docs/rxd-tutorials
	url = https://github.com/neuronsimulator/rxd-tutorials
[submodule "docs/py_doc"]
	path = docs/py_doc
	url = https://github.com/neuronsimulator/progref-py.git
[submodule "docs/new_doc"]
	path = docs/new_doc
	url = https://github.com/neuronsimulator/progref-hoc.git
