.clang-format
.cmake-format.yaml
nmodlconf.h.in
nrnconf.h.in
build
.DS_Store
.eggs/
.idea/
CMakeFiles/
Makefile
Makefile.in
.deps
x86_64
__pycache__
venv
virtualenv

# These files are generated at build time
# It would be a good idea to create them in the
# build directory in the future.
src/modlunit/lex.cpp
src/modlunit/parse1.cpp
src/modlunit/parse1.h
src/nmodl/diffeq.cpp
src/nmodl/diffeq.h
src/nmodl/lex.cpp
src/nmodl/parse1.cpp
src/nmodl/parse1.h
src/nrnoc/apcount.c
src/nrnoc/exp2syn.c
src/nrnoc/expsyn.c
src/nrnoc/feature.c
src/nrnoc/hh.c
src/nrnoc/hh.mod.orig
src/nrnoc/intfire1.c
src/nrnoc/intfire2.c
src/nrnoc/intfire4.c
src/nrnoc/netstim.c
src/nrnoc/nrnversion.
src/nrnoc/nrnversion.h
src/nrnoc/oclmp.c
src/nrnoc/passive.c
src/nrnoc/pattern.c
src/nrnoc/ppmark.c
src/nrnoc/stim.c
src/nrnoc/svclmp.c
src/nrnoc/syn.c
src/nrnoc/vclmp.c
src/oc/parse.cpp
src/oc/parse.h
