[submodule "docs/python"]
	path = docs/python
	url = https://github.com/neuronsimulator/progref-py.git
[submodule "docs/hoc"]
	path = docs/hoc
	url = https://github.com/neuronsimulator/progref-hoc.git
[submodule "docs/tutorials"]
	path = docs/tutorials
	url = https://github.com/neuronsimulator/pythontutorial.git
