.bbp-project-venv/
.clang-format
.cmake-format.yaml
external/tests/
nmodlconf.h.in
nrnconf.h.in
test/ringtest/*.dat
build
.DS_Store
.eggs/
.idea/
CMakeFiles/
Makefile
Makefile.in
.deps
x86_64
__pycache__
venv
virtualenv
.python-version
*.o
*.lo
docs/_build
docs/_generated
.vscode
