matplotlib<=3.10.0
ipython<=8.32.0
mpi4py<=4.0.3
find_libpython<=0.4.0
packaging<=24.2.0
setuptools<=70.3
-r packaging/python/build_requirements.txt
-r packaging/python/test_requirements.txt
-r nmodl_requirements.txt
