wheel
setuptools<=70.3.0
scikit-build
matplotlib
# bokeh 3 seems to break docs notebooks
bokeh<3
ipython
cython
packaging
# newer pytest raises an error when returning a non-none value
pytest<=8.1.1
pytest-cov
mpi4py
numpy
pyreadline3<=3.5.4; sys_platform == "win32"
