/****************************************************************************


NRNIV.RC

produced by Borland Resource Workshop


*****************************************************************************/


1 ICON "nrniv.ico"
