sphinx
sphinx_rtd_theme
jupyter
nbconvert
recommonmark
matplotlib
# bokeh 3 seems to break docs notebooks
bokeh<3
# do not check import of next line
ipython
plotnine
numpy<2
plotly
nbsphinx
jinja2
sphinx-design
packaging==21.3
tenacity<8.4
