sphinx
sphinx_rtd_theme
jupyter
nbconvert
recommonmark
matplotlib
bokeh
# do not check import of next line
ipython
plotnine
numpy
plotly
nbsphinx
# 3.1+ removed jinja2.utils.escape that is used by other tools
jinja2<3.1
