name: Coverage

concurrency:
  group: ${{ github.workflow }}#${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: 
      - master
      - live-debug*
      - release/**
  pull_request:
    branches:
      - master
      - release/**

env:
  BUILD_TYPE: Release
  CTEST_PARALLEL_LEVEL: 1
  CMAKE_BUILD_PARALLEL_LEVEL: 3
  DEFAULT_PY_VERSION: 3.8
  DESIRED_CMAKE_VERSION: 3.15.0

jobs:
  coverage:
    runs-on: ubuntu-18.04
    name: "Coverage Test"
    steps:
      - name: Install packages
        run: |
          sudo apt-get install bison ccache flex lcov libfl-dev ninja-build \
            python3-dev python3-pip
        shell: bash
      - name: Set up Python3
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_VERSION }}
        env:
          PYTHON_VERSION:  ${{ env.DEFAULT_PY_VERSION }}
      - name: Install Python3 dependencies
        run: |
          pip3 install -U pip setuptools scikit-build Jinja2 PyYAML pytest \
            'sympy>=1.3,<1.9'
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Restore compiler cache
        uses: actions/cache@v2
        with:
          path: |
            ${{runner.workspace}}/ccache
          key: cov-${{github.ref}}-${{github.sha}}
          restore-keys: |
            cov-${{github.ref}}-
            cov-
      - name: Build and Test for Coverage
        id: codecov
        shell: bash
        working-directory: ${{runner.workspace}}/nmodl
        run:  |
          mkdir build && cd build
          cmake .. -G Ninja \
            -DPYTHON_EXECUTABLE=$(which python3) \
            -DCMAKE_CXX_FLAGS="-coverage -O0" \
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
          ccache -z
          ccache -s
          cmake --build .
          ccache -s
          (cd ..;  lcov --capture  --initial --directory . --no-external --output-file build/coverage-base.info)
          ctest --output-on-failure
          (cd ..; lcov --capture  --directory . --no-external --output-file build/coverage-run.info)
          lcov --add-tracefile coverage-base.info --add-tracefile coverage-run.info --output-file coverage-full.info
          lcov --remove coverage-full.info --output-file coverage.info "*/ext/*"
          lcov --list coverage.info
        env:
          CCACHE_DIR: ${{runner.workspace}}/ccache
      - name: Upload Coverage
        run: |
          # Download codecov script and perform shasum checks
          curl -fLso codecov https://codecov.io/bash;
          VERSION=$(grep -o 'VERSION=\"[0-9\.]*\"' codecov | cut -d'"' -f2);
          for i in 1 256 512
          do
            unset LCL_CHECSUM;
            LCL_CHECSUM=$(shasum -a $i codecov);
            unset CHECSUM;
            CHECSUM=$(curl -s "https://raw.githubusercontent.com/codecov/codecov-bash/${VERSION}/SHA${i}SUM" | grep "codecov")
            if test "$LCL_CHECSUM" != "$CHECSUM" ; then
              echo "Codecov CHECSUM failed!";
              echo "Local: ${LCL_CHECSUM}";
              echo "Online: ${CHECSUM}";
              exit 1;
            fi;
          done
          bash ./codecov -f build/coverage.info
