name: NEURON Code Coverage

concurrency:
  group: ${{ github.workflow }}#${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - master
      - release/**
  pull_request:
    branches:
      - master
      - release/**
    paths-ignore:
      - '**.md'
      - '**.rst'
      - 'docs/**'

env:
  PY_MIN_VERSION: 3.6
  PY_MAX_VERSION: 3.9

jobs:
  coverage:
    runs-on: ubuntu-18.04

    name: Code Coverage

    timeout-minutes: 45

    steps:

      - name: Install apt packages
        run: |
          sudo apt-get install  build-essential doxygen lcov libopenmpi-dev libmpich-dev libx11-dev libxcomposite-dev mpich openmpi-bin patchelf
        shell: bash

      - name: Set up Python@${{ env.PY_MIN_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PY_MIN_VERSION }}

      - name: Set up Python@${{ env.PY_MAX_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PY_MAX_VERSION }}

      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: Install Python@${{ env.PY_MAX_VERSION }} dependencies
        working-directory: ${{runner.workspace}}/nrn
        run: |
          python -m pip install --upgrade pip -r nrn_requirements.txt

      - name: Build & Test
        id: build-test
        shell: bash
        working-directory: ${{runner.workspace}}/nrn
        run:  |
          export SHELL="/bin/bash"

          # Compiler setup
          export CC=gcc
          export CXX=g++

          # Python setup
          export PYTHON_MIN=$(which $PYTHON_MIN_NAME);
          export PYTHON_MAX=$(which $PYTHON_MAX_NAME);

          mkdir build && cd build;

          # CMake options & flags
          export COVERAGE_FLAGS="--coverage -O0 -fno-inline -g";
          export CMAKE_OPTION="-DNRN_ENABLE_MPI=ON -DNRN_ENABLE_INTERVIEWS=ON -DNRN_ENABLE_PYTHON=ON -DNRN_ENABLE_PYTHON_DYNAMIC=ON -DNRN_PYTHON_DYNAMIC=${PYTHON_MIN};${PYTHON_MAX} -DNRN_ENABLE_CORENEURON=ON -DNRN_ENABLE_MEMACS=ON";
          cmake $CMAKE_OPTION -DCMAKE_C_COMPILER=$CC -DCMAKE_CXX_COMPILER=$CXX -DNRN_ENABLE_TESTS=ON -DCMAKE_C_FLAGS="${COVERAGE_FLAGS}" -DCMAKE_CXX_FLAGS="${COVERAGE_FLAGS}" ..;

          # Coverage
          # The Linux runners apparently have 2 cores, but jobs were being killed when we did not specify this explicitly.
          # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
          # By default we get a modern version of CMake that understands --parallel.
          cmake --build . --parallel 2
          (cd ..;  lcov --capture  --initial --directory . --no-external --output-file build/coverage-base.info)
          export PATH=`pwd`/bin:$PATH;
          ctest -VV;
          (cd ..; lcov --capture  --directory . --no-external --output-file build/coverage-run.info)
          lcov --add-tracefile coverage-base.info --add-tracefile coverage-run.info --output-file coverage-combined.info
          
          # Download codecov script and perform shasum checks
          curl -fLso codecov https://codecov.io/bash;
          VERSION=$(grep -o 'VERSION=\"[0-9\.]*\"' codecov | cut -d'"' -f2);
          for i in 1 256 512
          do
            unset LCL_CHECSUM;
            LCL_CHECSUM=$(shasum -a $i codecov);
            unset CHECSUM;
            CHECSUM=$(curl -s "https://raw.githubusercontent.com/codecov/codecov-bash/${VERSION}/SHA${i}SUM" | grep "codecov")
            if test "$LCL_CHECSUM" != "$CHECSUM" ; then
              echo "Codecov CHECSUM failed!";
              echo "Local: ${LCL_CHECSUM}";
              echo "Online: ${CHECSUM}";
              exit 1;
            fi;
          done
          # Prefer auto-discovery for now. Specify reports once all python testing is unified under single report (-f option).
          bash ./codecov
        env:
          MATRIX_EVAL: "CC=gcc CXX=g++"
          PYTHON_MIN_NAME: "python${{ env.PY_MIN_VERSION }}"
          PYTHON_MAX_NAME: "python${{ env.PY_MAX_VERSION }}"

      # This step will set up an SSH connection on tmate.io for live debugging.
      # To trigger it, simply add 'live-debug-coverage' to your last pushed commit message.
      - name: live debug session on failure
        if: failure() && contains(github.event.head_commit.message, 'live-debug-coverage')
        uses: mxschmitt/action-tmate@v3
