name: Windows Installer

concurrency:
  # Don't cancel on master, creating a PR when a push workflow is already going will cancel the push workflow in favour of the PR workflow
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/master' && github.run_id || github.event.number && github.head_ref || github.ref_name }}
  cancel-in-progress: true

on:
  merge_group:
  workflow_call:
    inputs:
      tag:
        description: 'The branch/commit of NEURON to checkout'
        default: ''
        required: true
        type: string
  push:
    branches:
      - master
      - release/**
  pull_request:
    branches:
      - master
      - release/**
# TODO : https://github.com/neuronsimulator/nrn/issues/1063
#    paths-ignore:
#      - '**.md'
#      - '**.rst'
#      - 'docs/**'
env:
  MSYS2_ROOT: C:\msys64

jobs:
  WindowsInstaller:
    name: Windows installer
    runs-on: windows-latest
    timeout-minutes: 45

    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ inputs.tag }}
        submodules: recursive
        fetch-tags: true  # Ensures tags are available for git describe

    - name: Retrieve rxd test data
      run: |
        git submodule update --init test/rxd/testdata
      shell: powershell
      working-directory: ${{runner.workspace}}\nrn

    - name: Set up Python3
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Download Dependencies
      run: |
        .\nrn\ci\win_download_deps.cmd
      shell: powershell
      working-directory: ${{runner.workspace}}

    - name: Install Dependencies
      run: .\nrn\ci\win_install_deps.cmd
      shell: powershell
      working-directory: ${{runner.workspace}}

    - name: Build and Create Installer
      run: |
        %MSYS2_ROOT%\usr\bin\bash "$BUILD_SOURCESDIRECTORY/ci/win_build_cmake.sh"
        # create a manifest of the files in the build directory
        %MSYS2_ROOT%\usr\bin\bash "find ${BUILD_SOURCESDIRECTORY}/build > ${BUILD_SOURCESDIRECTORY}/build/build_files.txt 2>/dev/null"
      shell: pwsh
      working-directory: ${{runner.workspace}}\nrn
      env:
        BUILD_SOURCESDIRECTORY: ${{runner.workspace}}\nrn

    - name: Upload build files for diagnostics and debugging
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: build_files
        path: |
          ${{runner.workspace}}/nrn/build/CMakeCache.txt
          ${{runner.workspace}}/nrn/build/build.ninja
          ${{runner.workspace}}/nrn/build/cmake_install.cmake
          ${{runner.workspace}}/nrn/build/install_manifest.txt
          ${{runner.workspace}}/nrn/build/build_files.txt

    # This step will set up an SSH connection on tmate.io for live debugging.
    # To enable it, you have to:
    #   * add 'live-debug-win' to your PR title
    #   * push something to your PR branch (note that just re-running the pipeline disregards the title update)
    - name: live debug session on failure (manual steps required, check `.github/windows.yml`)
      if: failure() && contains(github.event.pull_request.title, 'live-debug-win')
      uses: mxschmitt/action-tmate@v3

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: nrn-nightly-AMD64.exe
        path: ${{runner.workspace}}\nrn\nrn-nightly-AMD64.exe

    - name: Run installer and launch .hoc associaton test
      run: .\ci\win_install_neuron.cmd
      shell: cmd
      working-directory: ${{runner.workspace}}\nrn

    - name: Test Installer
      run: .\ci\win_test_installer.cmd
      shell: cmd
      working-directory: ${{runner.workspace}}\nrn
